<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ERROR 404 :(</title>
</head>
<body>
  <h1 style="font-size: 5em; text-align: center; background-color: rgba(145, 39, 151, 0.412); width: fit-content; color: red;
  position: relative; left: 600px; cursor: crosshair;"> 
    <code>
      ERROR 404 
    </code>
  </h1>
</body>
</html>