<!--* Importando outros arquivos EJS -->
<!--? Importando toda a tag head -->
<%-title %>
    <%- include('includes/head') %>
        <!-- <#% controle de fluxo(if,for, while etc) -->

        <section class="container">
            <h1>Bom dia</h1>
            <form action="/" method="post">
                <!--? Importante para a segurança do site, não mover, e ter em todos OS FORMS  -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <label for="cliente">Cliente</label>
                <input type="text" name="cliente">
                <button type="submit">Submit</button>
            </form>

        </section>

        <!-- Importando outros arquivos EJS -->
        <%- include('includes/footer') %>